<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <div th:fragment="content">
        <div class="row justify-content-center">
            <div class="portfolio-list">
                <div class="card portfolio-card" th:each="portfolio : ${portfolios}">
                    <div class="card-body">
                        <h5 class="card-title text-dark fw-bold" th:text="${portfolio.title}">포트폴리오 이름</h5>
                        <p class="mb-2">
                            <span class="text-muted fw-bold">자산가치 </span>
                            <span class="text-success fw-bold">$<span th:text="${#numbers.formatDecimal(portfolio.portfolioCurrentValue, 1, 'COMMA', 2, 'POINT')}">0.00</span></span>
                        </p>
                        <p class="mb-2">
                            <span class="text-muted fw-bold">총 수익 </span>
                            <!-- 수익 (양수) -->
                            <span th:if="${portfolio.portfolioProfitAmount > 0}" class="text-danger fw-bold">
                            +$<span th:text="${#numbers.formatDecimal(portfolio.portfolioProfitAmount, 1, 'COMMA', 2, 'POINT')}">0.00</span>
                            (+<span th:text="${#numbers.formatDecimal(portfolio.portfolioProfitRate, 1, 'COMMA', 2, 'POINT')}">0.00</span>%)</span>

                            <!-- 손실 (음수) -->
                            <span th:if="${portfolio.portfolioProfitAmount < 0}" class="text-primary fw-bold">
                            -$<span th:text="${#numbers.formatDecimal(portfolio.portfolioProfitAmount.abs(), 1, 'COMMA', 2, 'POINT')}">0.00</span>
                            (-<span th:text="${#numbers.formatDecimal(portfolio.portfolioProfitRate.abs(), 1, 'COMMA', 2, 'POINT')}">0.00</span>%)</span>

                            <!-- 0일 때 -->
                            <span th:if="${portfolio.portfolioProfitAmount == 0}" class="text-secondary fw-bold">
                            $<span th:text="${#numbers.formatDecimal(portfolio.portfolioProfitAmount, 1, 'COMMA', 2, 'POINT')}">0.00</span>
                            (<span th:text="${#numbers.formatDecimal(portfolio.portfolioProfitRate, 1, 'COMMA', 2, 'POINT')}">0.00</span>%)
                            </span>
                        </p>
                        <div class="d-flex justify-content-end gap-2 mt-2">
                            <button type="button"
                                    class="btn btn-sm btn-outline-primary"
                                    th:data-id="${portfolio.portfolioId}"
                                    th:data-title="${portfolio.title}"
                                    onclick="portfolioUpdateButtonClick(this)"
                            >수정</button>

                            <button type="button"
                                    class="btn btn-sm btn-outline-danger"
                                    th:data-id="${portfolio.portfolioId}"
                                    th:data-title="${portfolio.title}"
                                    onclick="portfolioDeleteButtonClick(this)"
                                    >삭제</button>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="portfolios/modal-create :: createModal"></div>
            <div th:replace="portfolios/modal-update :: updateModal"></div>
            <div th:replace="portfolios/modal-delete :: deleteModal"></div>
            <button class="fab" data-bs-toggle="modal" data-bs-target="#createPortfolioModal">+</button>
        </div>
    </div>
</body>
</html>
