<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div th:fragment="deleteModal">
    <div class="modal fade" id="deletePortfolioModal" tabindex="-1" aria-labelledby="deletePortfolioModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="deletePortfolioForm" action="#" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePortfolioModalLabel">포트폴리오 삭제</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="닫기"></button>
                    </div>
                    <div class="modal-body">
                        <p>포트폴리오 "<span id="deletePortfolioTitle"></span>"를 삭제하시겠습니까?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="submit" class="btn btn-danger">삭제</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

